.allfont{
    font-family: 'Roboto', sans-serif;
}
.A1{
    border: 0px solid black;
    width: 500px;
    height:1900px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:10px;
    float: left;
    clear: both;
}

.A2 img{
    width: 250px;
    margin-left: 115px;
}
.all-containe{
    margin: 20px;
}
.name{
    border: 1px solid #ffb627;
    background-color: #ffb627;
    border-radius: 20px;
    text-align: center;
    font-size: 35px;
    color: black;
}
.fa {
    color: #ffa431;
}
.fa span{
    font-size: 18px;
    color: black;
    margin-left: 30px;
}
.skills-name{
    font-size: 25px !important;
    font-weight: bold;
}
.container{
    border-radius: 20px;
    width: 100%;
    background-color: #ddd;
}
.skills{
    border-radius: 20px;
    text-align: right;
    padding: 05px;
    padding-bottom: 05px;
}
.html{
    width: 90%;
    background-color: #feb229;
}
.css{   
    width: 80%;
    background-color: #2196F3;
}
.js{
    width: 65%;
    background-color: #f44336;
}
.php{
    width: 50%;
    background-color: #808080;
}
p{
    font-size: 18px;
    text-align: center;
}
span{
    font-family: 'Roboto', sans-serif;
}
.Adobe{
    width: 75%;
    background-color: #feb229;
}
.Illustrator{
    width: 65%;
    background-color: #808080;
}
.Photography{
    width: 50%;
    background-color:#2196F3 ;
}


/* <!-- <h1>second box</h1> --> */
.A3{
    border: 0px solid black;
    width: 780px;
    height:1000; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;   
    float: right;   
}
.A4{
    margin: 40px 0px 0px 20px;
}
.A4 span{
    font-size: 39px;
    
}
.discription{
    margin: 40px;
}
.discription h3{
    font-size: 22px;  
}
.discription span{
    color: #ffa431;
}
.current{
    margin: 05px;
    padding: 07px;
    border-radius: 05px;
    color:black !important;
    background-color: #ffa431;
}
.discription1{
    text-align: justify;
}

.footer1{
    border: 0px solid black;
    width: 1335px;
    height: 150px;
    display: inline-block;
    background-color: #ffb627;
}

.footer1 p{
    color: rgb(255, 255, 255);
}

.social-icon{
    text-align: center;
   
}
.social-icon, .jaber996{
    
    color: white;
}

.icon-option  {
    padding: 05px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .icon-option:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }